/* Variáveis */
:root {
  --verde-principal: rgb(57, 156, 127);
  --verde-hover: rgb(52, 141, 115);
  --verde-sombra: 0px 0px 30px 15px rgba(57, 156, 127, 0.15);
  --cinza-principal: #ebebeb;
  --sombra-fraca: 0px 0px 45px 10px rgba(0, 0, 0, 0.05);
  --sombra-media: 0px 0px 25px 5px rgba(0, 0, 0, 0.126);
  --sombra-forte: 0px 0px 25px 5px rgba(0, 0, 0, 0.226);
}

body {
  font-family: "Ubuntu", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}


/* Navbar */
.navbar {
  z-index: 5;
}

.logo:hover {
  background-color: var(--cinza-principal);
  box-shadow: var(--sombra-media);
}

.button {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 6px 20px;
  margin: 0 15px;
  border: none;
  border-radius: 5px;
}

.button-color-white {
  background-color: #fff;
}

.button-color-green {
  color: #fff;
  background-color: var(--verde-principal);
}

.button-color-white:hover {
  background-color: var(--cinza-principal);
  box-shadow: var(--sombra-media)
}

.button-color-green:hover {
  color: #fff;
  background-color: var(--verde-hover);
  box-shadow: var(--verde-sombra)
}

.underline {
  text-decoration-line: underline;
  text-decoration-thickness: 0.2rem;
}

/* Slogam, texto da pagina HOME */
.slogan {
  position: absolute;
  top: 250px;
  left: 250px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  width: 500px;
  height: 500px;
}

.slogan h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}

.slogan p {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

/* Pagina de login e cadastro */

.boxLC {
  width: 510px;
  height: 416px;
  margin: auto;
  margin-top: 15%;
  background: #fff;
  box-shadow: var(--sombra-fraca);
  border-radius: 5px;
}

.boxLC h1 {
  color: #000;
  padding: 50px 0 40px 0;
  text-align: center;
  font-size: 28px;
  line-height: 29px;
}

.LC {
  width: 410px;
  height: 100px;
  margin: auto;
}

.LC .btnVerde {
  margin-left: 165px;
}

.input input {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  padding-left: 25px;
  margin-bottom: 40px;
  width: 100%;
  height: 50px;
  background: #ebebeb;
  border: 0px;
  border-radius: 5px;
}

/* Imagens de background da página home */
.bg-gradiente1 {
  position: absolute;
  right: -40%;
  top: -10%;
  max-width: 70%;
  min-width: 1100px;
  height: auto;
  width: auto;
  transform: rotate(23.5deg);
}
.bg-gradiente2 {
  position: absolute;
  left: -10%;
  top: 100%;
  max-width: 135%;
  min-width: 1000px;
  height: auto;
  width: auto;
  transform: rotate(23.5deg);
}
/* Mobile */
@media only screen and (max-width: 1200px) {
  .bg-gradiente1 {
    position: absolute;
    right: -70%;
    top: -10%;
    max-width: 70%;
    min-width: 1000px;
    height: auto;
    width: auto;
    transform: rotate(23.5deg);
  }
  .bg-gradiente2 {
    position: absolute;
    left: -30%;
    top: 85%;
    max-width: 135%;
    min-width: 2500px;
    height: auto;
    width: auto;
    transform: rotate(23.5deg);
  }
}
@media only screen and (max-width: 992px) {
  .bg-gradiente1 {
    position: absolute;
    right: -100%;
    top: -10%;
    max-width: 70%;
    min-width: 1100px;
    height: auto;
    width: auto;
    transform: rotate(23.5deg);
  }
  .bg-gradiente2 {
    position: absolute;
    left: -60%;
    top: 100%;
    max-width: 135%;
    min-width: 1500px;
    height: auto;
    width: auto;
    transform: rotate(23.5deg);
  }
}
@media only screen and (max-width: 768px) {
  .bg-gradiente1 {
    position: absolute;
    right: -110%;
    top: -10%;
    max-width: 70%;
    min-width: 950px;
    height: auto;
    width: auto;
    transform: rotate(23.5deg);
  }
  .bg-gradiente2 {
    position: absolute;
    left: -65%;
    top: 100%;
    max-width: 135%;
    min-width: 2500px;
    height: auto;
    width: auto;
    transform: rotate(23.5deg);
  }
}
@media only screen and (max-width: 576px) {
  .bg-gradiente1 {
    position: absolute;
    right: -155%;
    top: 0%;
    max-width: 70%;
    min-width: 750px;
    height: auto;
    width: auto;
    transform: rotate(23.5deg);
  }
  .bg-gradiente2 {
    position: absolute;
    left: -70%;
    top: 100%;
    max-width: 135%;
    min-width: 2000px;
    height: auto;
    width: auto;
    transform: rotate(23.5deg);
  }
}
