<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://kit.fontawesome.com/58e46e1e4c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/styles.css" />
    <title>Header</title>
  </head>
  <body>
    <nav class="navbar">
        <a class="logo" href="index.php">
          <img src="../../../img/logoTEXT.png" alt="logo_anzen" height="30" />
        </a>
        <form class="nav-items">
          <button type="button" class="btn btn-color-white underline">
            Sobre Nós
          </button>
          <button type="button" class="btn btn-color-white underline">
            Criar conta
          </button>
          <button type="button" class="btn btn-color-green">
            Entrar
          </button>
        </form>
      </div>
    </nav>
    <!-- background images -->
    <img src="../img/bg-gradiente1.png" alt="" class="bg-gradiente1" />
    <img src="..//img/bg-gradiente2.png" alt="" class="bg-gradiente2" />

    <article>
      <div class="slogan">
        <h1>Uma ferramenta simples para controlar suas finanças</h1>
        <h2>Simplicidade é a nossa cara</h2>
      </div>
    </article>

    <main>
      <article>
        <div class="missao">
          <i class="fa-solid fa-bullseye fa-2x1"></i>
          <h1>Missão</h1>
          <p>Nossa missão é oferecer uma solução simples para as suas finanças.</p>
        </div>
        <div class="visao">
          <i class="fa-solid fa-eye"></i>
          <h1>Visão</h1>
          <p>Ajudar o maior número de pessoas a criar o habito de administrar seus gastos.</p>
        </div>
        <div class="valores">
          <i class="fa-regular fa-hand-holding-heart"></i>
          <h1>Valores</h1>
          <p>Satisfação do cliente, pratica, simplicidade, clareza, objetividade.</p>
        </div>
      </article>
    </main>

    <footer>
      <a class="logo" href="index.php">
        <img src="../../../img/logoTEXT.png" alt="logo_anzen" height="30" />
      </a>
    </footer>
  </body>
</html>
