<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://kit.fontawesome.com/58e46e1e4c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/styles.css" />
    <title>Header</title>
  </head>
  <body>
    <nav class="navbar">
        <a class="logo" href="index.php">
          <img src="../../../img/logoTEXT.png" alt="logo_anzen" height="30" />
        </a>
        <form class="nav-items">
          <button type="button" class="btn btn-color-white underline">
            Sobre Nós
          </button>
          <button type="button" class="btn btn-color-white underline">
            Criar conta
          </button>
          <button type="button" class="btn btn-color-green">
            Entrar
          </button>
        </form>
      </div>
    </nav>
    
    <main>
        <section class="principal">
            <div class="flex-box-main">
                <div class="saldo">
                  <p>Saldo Final</p>
                  <h1>2.000,00</h1>
                  <p>Saldo Inicial: <strong>2.000,00</strong></p>
                  <p>Mês de Janeiro</p>
                </div>
                <div class="flex-group-1">
                  <label for="">Descrição1</label><br>
                  <input type="text">

                  <br>

                  <label for="">Categoria2</label><br>
                  <input type="text">
                </div>
                <div class="flex-group-2">
                  <label for="">Descrição3</label><br>
                  <input type="text">
                  
                  <br>

                  <label for="">Categoria4</label><br>
                  <input type="text">
                </div>
                <div class="flex-group-3">
                  <label for="">Descrição5</label><br>
                  <input type="text">

                  <br>

                  <label for="">Categoria6</label><br>
                  <input type="text">
                </div>
            </div>
        </section>
    </main>
  </body>
</html>
